{% extends "base.html"%}
{% load change_gender %}
{% load current_time %}
{% block content%}
<h2>通讯录</h2>
<hr>
<form class="pure-form" enctype="multipart/form-data" method="POST" action="upload/">
    <fieldset>
    <p>上传通信录文件：<input type="file" name="file"/></p>
    <input type="submit" class="pure-button pure-button-primary" value="上传文件">
    </fieldset>
</form>
<table class="pure-table">
    <thead>
    <tr >
        <th class="pure-table th">姓名</th>
        <th class="pure-table th">性别</th>
        <th class="pure-table th">电话</th>
        <th class="pure-table th">手机</th>
    </tr>
    </thead>
    <tbody>
    {% for person in object_list %}
    <tr>
        <td class="pure-table td"> {{ person.name }}</td>
        <td class="pure-table td"> {{ person.gender|change_gender }}</td>
        <td class="pure-table td"> {{ person.telphone }}</td>
        <td class="pure-table td"> {{ person.mobile }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <br/>
    {% if is_paginated %}
        <div>
            {% if page_obj.has_previous %}
                <a class="pure-button pure-button-primary" href="?page={{ page_obj.previous_page_number }}">prev</a>

            {% endif %}
            {% if page_obj.has_next %}
                <a class="pure-button pure-button-primary" href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </div>
    {% endif %}
    <p>The time is {% current_time "%Y-%m-%d %I:%M %p" %}.</p>
{% endblock %}
